# PC 1 · América (Zamallita)
AM_HOST=172.20.10.15
# PC 2 · Europa (Carla)
EU_HOST=172.20.10.3
# PC 3 · App: MongoDB + backend + página web (Jhojan)
APP_HOST=172.20.10.5

POSTGRES_PASSWORD=root
MONGO_PASSWORD=root
BOARDING_PASS_SECRET=aerolineas-pabon-practica3-secreto-2026
